<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoEToiro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MoEToiro.Properties.Settings>
            <setting name="saveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="optimizeWs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quantizationDivisor" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="fusionThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="quantizationMode" serializeAs="String">
                <value>QuantumStep</value>
            </setting>
            <setting name="restRemovalThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="restRemovalMode" serializeAs="String">
                <value>AbsorbToLeadingNote</value>
            </setting>
            <setting name="partDivisionPolicy" serializeAs="String">
                <value>Session</value>
            </setting>
            <setting name="openFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="velocityKeepingPolicy" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="shortNoteAdjustment" serializeAs="String">
                <value>Adjust</value>
            </setting>
        </MoEToiro.Properties.Settings>
    </userSettings>
</configuration>